{% extends 'index.html' %}
{% block content %}
  <div class = "row">
            <div class = "col-6">
                <div id="myChart" width="200px" height="100px"></div>

                    <div class="slidecontainer">
                        <input type="range" min="0.01" max="1" value="0.4" class="slider" step="0.001" id="delta">&delta;
                    </div>
                </div>
           <div class="col-6">
               <h2>Model3</h2>
               <p>test substance is toxic, metabolite is not</p>
               <h4>Initial parameters</h4>
               <p>Rate of cell natural death: {{ gamma|safe }}</p>
               <p>Concentration of substance being tested: {{ tt|safe }}</p>
               <h4>Estimated parameters</h4>
               <p>
                   Rate of cell death(&delta;): <span id="deltatext"></span>
               </p>

       </div>
  </div>
<script>

       let sliderd = document.getElementById("delta");
       let outputd = document.getElementById("deltatext");
       outputd.innerHTML = sliderd.value;
       let exp2 = "100 * Math.exp(-"+ ({{ gamma|safe }}+ {{ tt|safe }}*sliderd.value).toString() +"*x)"
       const yValues = [];

       for (var x = 0; x <= 6; x += 0.5) {
           yValues.push(eval(exp2));
       }
       var data = [
           {x: {{ t|safe }}, y: {{ ct|safe }}, mode:"markers", type:"scatter"},
           {x:{{ t|safe }}, y: yValues, mode:"lines"},
       ];
       var layout = {
           xaxis: {range: [0, 6], title: "Time"},
           yaxis: {range: [0, 100], title: "Concentration"},
           title: "C(t)"
       };
       Plotly.newPlot("myChart", data, layout);

       sliderd.oninput = function() {
           outputd.innerHTML = this.value;
           let yValuesd = []
           let exp2 = "100 * Math.exp(-"+ (this.value *{{ tt|safe }} +  {{ gamma|safe }}).toString() +"*x ) "
           for (var x = 0; x <= 6; x += 0.5) {
               yValuesd.push(eval(exp2));
           }
           var data = [
               {x: {{ t|safe }}, y: {{ ct|safe }}, mode:"markers", type:"scatter"},
               {x:{{ t|safe }}, y: yValuesd, mode:"lines"},
           ];
           var layout = {
               xaxis: {range: [0, 6], title: "Time"},
               yaxis: {range: [0, 100], title: "Concentration"},
               title: "C(t)"
           };
           Plotly.newPlot("myChart", data, layout);
       }
   </script>

{% endblock %}
