{% extends 'index.html' %}
{% block content %}
  <div class = "row">
            <div class = "col-6">
                <div id="myChart" width="200px" height="100px"></div>
                    <div class="slidecontainer">
                        <input type="range" min="0.1" max="1" value="0.34" class="slider" step="0.01" id="beta">&beta;
                    </div>
                    <div class="slidecontainer">
                        <input type="range" min="0.01" max="0.1" value="0.054" class="slider" step="0.001" id="mu">&mu;
                    </div>
                </div>
           <div class="col-6">
               <h2>Model1</h2>
               <p>test substance is not toxic, metabolite is toxic</p>
               <h4>Initial parameters</h4>
               <p>Rate of cell natural death: {{ gamma|safe }}</p>
               <p>Concentration of substance being tested: {{ tt|safe }}</p>
               <h4>Estimated parameters</h4>
              <p>
                   Metabolite deletion rate(&beta;): <span id="betatext"></span>
               </p>
               <p>
                   Hepatoxicity(&mu;): <span id="mutext"></span>
               </p>

       </div>
  </div>
<script>
       let sliderb = document.getElementById("beta");
       let outputb = document.getElementById("betatext");
       outputb.innerHTML = sliderb.value;
       let sliderm = document.getElementById("mu");
       let outputm = document.getElementById("mutext");
       outputm.innerHTML = sliderm.value;
       const yValues = [];
       let exp2 = "100 * Math.exp(-"+ ({{ gamma|safe }}).toString() +"*x + "+
           ({{ tt|safe }}*sliderm.value/(sliderb.value*sliderb.value)).toString() + "*(1-Math.exp(" +
       (-sliderb.value).toString()+"*x)"+(-sliderb.value).toString()+"*x))"
       console.log(exp2)
       for (var x = 0; x <= 6; x += 0.5) {
           yValues.push(eval(exp2));
       }
       var data = [
           {x: {{ t|safe }}, y: {{ ct|safe }}, mode:"markers", type:"scatter"},
           {x:{{ t|safe }}, y: yValues, mode:"lines"},
       ];
       var layout = {
           xaxis: {range: [0, 6], title: "Time"},
           yaxis: {range: [0, 100], title: "Concentration"},
           title: "C(t)"
       };
       Plotly.newPlot("myChart", data, layout);

       sliderb.oninput = function() {
           outputb.innerHTML = this.value;
           let yValuesb = []
           let exp2 = "100 * Math.exp(-"+ ({{ gamma|safe }}).toString() +"*x + "+
           ({{ tt|safe }}*sliderm.value/(this.value*this.value)).toString() + "*(1-Math.exp(" +
           (-this.value).toString()+"*x)"+(-this.value).toString()+"*x))"
           for (var x = 0; x <= 6; x += 0.5) {
               yValuesb.push(eval(exp2));
           }
           var data = [
               {x: {{ t|safe }}, y: {{ ct|safe }}, mode:"markers", type:"scatter"},
               {x:{{ t|safe }}, y: yValuesb, mode:"lines"},
           ];
           var layout = {
               xaxis: {range: [0, 6], title: "Time"},
               yaxis: {range: [0, 100], title: "Concentration"},
               title: "C(t)"
           };
           Plotly.newPlot("myChart", data, layout);
           }
       sliderm.oninput = function() {
           outputm.innerHTML = this.value;
           let yValuesm = []
           let exp2 = "100 * Math.exp(-"+ ({{ gamma|safe }}).toString() +"*x + "+
           ({{ tt|safe }}*this.value/(sliderb.value*sliderb.value)).toString() + "*(1-Math.exp(" +
           (-sliderb.value).toString()+"*x)"+(-sliderb.value).toString()+"*x))"
           for (var x = 0; x <= 6; x += 0.5) {
               yValuesm.push(eval(exp2));
           }
           var data = [
               {x: {{ t|safe }}, y: {{ ct|safe }}, mode:"markers", type:"scatter"},
               {x:{{ t|safe }}, y: yValuesm, mode:"lines"},
           ];
           var layout = {
               xaxis: {range: [0, 6], title: "Time"},
               yaxis: {range: [0, 100], title: "Concentration"},
               title: "C(t)"
           };
           Plotly.newPlot("myChart", data, layout);
       }
   </script>
{% endblock %}